<a href="https://colab.research.google.com/github/Ansalnakhan/TSA/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import  pandas as pd

In [4]:
import numpy as np

In [20]:
dfs = pd.read_excel("/content/CS2_33_1_10_11 (2).xlsx", sheet_name=None)

In [34]:
dfs.keys()

dict_keys(['Info', 'Channel_1-006', 'Statistics_1-006'])

In [37]:
dfs['Channel_1-006']

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,30.000402,2011-01-03 10:38:25,30.000402,1,1,0.000000,4.118745,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
1,2,60.015662,2011-01-03 10:38:55,60.015662,1,1,0.000000,4.118745,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
2,3,90.030747,2011-01-03 10:39:25,90.030747,1,1,0.000000,4.118907,0.000000,0.000000,0.000000,0.000000,0.000032,0.000000,0,0,0
3,4,120.014300,2011-01-03 10:39:55,120.014301,1,1,0.000000,4.118745,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0
4,5,137.905777,2011-01-03 10:40:13,17.890985,2,1,0.549845,4.200065,0.002732,0.000000,0.011452,0.000000,0.000648,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15570,15571,604676.478553,2011-01-10 10:36:55,3470.178041,7,50,-0.550353,2.707150,35.716272,36.412080,145.131874,133.935106,-0.003920,0.110496,0,0,0
15571,15572,604678.009530,2011-01-10 10:36:56,3471.709018,7,50,-0.550173,2.699699,35.716272,36.412314,145.131874,133.935738,-0.003888,0.110496,0,0,0
15572,15573,604738.053710,2011-01-10 10:37:56,60.014661,8,50,0.000000,3.435789,35.716272,36.412314,145.131874,133.935738,0.001685,0.110496,0,0,0
15573,15574,604738.271744,2011-01-10 10:37:57,0.187428,9,50,0.000106,3.436113,35.716272,36.412314,145.131874,133.935738,0.000000,0.115371,0,0,0
15574,15575,604743.099943,2011-01-10 10:38:02,5.015627,9,50,-0.002234,3.445508,35.716272,36.412317,145.131874,133.935749,0.001328,0.115371,0,0,0

In [39]:
from sklearn.decomposition import PCA

In [40]:
pcamodel=PCA(n_components=2)

In [42]:
principalcomponents=pcamodel.fit_transform(dfs)

TypeError: ignored