<a href="https://colab.research.google.com/github/Ansalnakhan/TSA/blob/main/project_ddos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd 
import numpy as np

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
DrDoS_DNS_data_1_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_DNS.csv',nrows=5000)
DrDoS_LDAP_data_2_0_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_LDAP.csv',nrows=5000)
DrDoS_MSSQL_data_1_3_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_MSSQL.csv',nrows=5000)
DrDoS_NetBIOS_data_1_3_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_NetBIOS.csv',nrows=5000)
DrDoS_NTP_data_data_5_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_NTP.csv',nrows=5000)
DrDoS_SNMP_data_1_3_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_SNMP.csv',nrows=5000)
DrDoS_SSDP_data_2_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_SSDP.csv',nrows=5000)
DrDoS_UDP_data_2_per = pd.read_csv('/content/drive/MyDrive/01-12/DrDoS_UDP.csv',nrows=5000)
Syn_data_4_per = pd.read_csv('/content/drive/MyDrive/01-12/Syn.csv',nrows=5000)
UDPLag_data_2_0_per = pd.read_csv('/content/drive/MyDrive/01-12/UDPLag.csv',nrows=5000)

In [14]:
data = pd.concat([DrDoS_DNS_data_1_per, DrDoS_LDAP_data_2_0_per, DrDoS_MSSQL_data_1_3_per, DrDoS_NetBIOS_data_1_3_per, DrDoS_NTP_data_data_5_per, DrDoS_SNMP_data_1_3_per, DrDoS_SSDP_data_2_per, DrDoS_UDP_data_2_per, Syn_data_4_per, UDPLag_data_2_0_per], ignore_index = True)

In [15]:
data.shape

(50000, 88)

In [16]:
data[' Label'].value_counts()

DrDoS_MSSQL      5000
DrDoS_UDP        5000
UDP-lag          5000
DrDoS_LDAP       4999
Syn              4998
DrDoS_SNMP       4997
DrDoS_NetBIOS    4991
DrDoS_SSDP       4973
BENIGN           4851
DrDoS_DNS        4413
DrDoS_NTP         778
Name:  Label, dtype: int64

In [20]:
data.columns

Index(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port',
       ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp',
       ' Flow Duration', ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', 'SimillarHTTP', ' Inbound', ' Label'],
      dtype='object')

In [21]:
data_real = data.replace(np.inf, np.nan)

In [22]:
data_real.isnull().sum().sum()

1666

In [23]:
data_df = data_real.dropna(axis=0)

In [24]:
data_df.isnull().sum().sum()

0

In [25]:
data_df

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,425,172.16.0.5-192.168.50.1-634-60495-17,172.16.0.5,634,192.168.50.1,60495,17,2018-12-01 10:51:39.813448,28415,97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
1,430,172.16.0.5-192.168.50.1-60495-634-17,192.168.50.1,634,172.16.0.5,60495,17,2018-12-01 10:51:39.820842,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DrDoS_DNS
2,1654,172.16.0.5-192.168.50.1-634-46391-17,172.16.0.5,634,192.168.50.1,46391,17,2018-12-01 10:51:39.852499,48549,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
3,2927,172.16.0.5-192.168.50.1-634-11894-17,172.16.0.5,634,192.168.50.1,11894,17,2018-12-01 10:51:39.890213,48337,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
4,694,172.16.0.5-192.168.50.1-634-27878-17,172.16.0.5,634,192.168.50.1,27878,17,2018-12-01 10:51:39.941151,32026,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,310726,172.16.0.5-192.168.50.1-52292-39139-17,172.16.0.5,52292,192.168.50.1,39139,17,2018-12-01 13:04:46.493768,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP-lag
49996,112527,172.16.0.5-192.168.50.1-35780-28095-17,172.16.0.5,35780,192.168.50.1,28095,17,2018-12-01 13:04:46.493959,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP-lag
49997,50719,172.16.0.5-192.168.50.1-43479-64437-17,172.16.0.5,43479,192.168.50.1,64437,17,2018-12-01 13:04:46.494010,106451,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP-lag
49998,351644,172.16.0.5-192.168.50.1-56855-19645-17,172.16.0.5,56855,192.168.50.1,19645,17,2018-12-01 13:04:46.494012,215812,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP-lag
49999,154979,172.16.0.5-192.168.50.1-33366-50958-17,172.16.0.5,33366,192.168.50.1,50958,17,2018-12-01 13:04:46.494062,214056,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP-lag

In [26]:
data_X = data_df.drop([' Label', 'SimillarHTTP'], axis = 1)

In [27]:
data_X.columns

Index(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port',
       ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp',
       ' Flow Duration', ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Inbound'],
      dtype='object')

In [28]:
data_X.shape

(49167, 86)

In [29]:
data_y = data_df[' Label']

In [30]:
data_y.shape

(49167,)

In [31]:
data_df.isnull().sum().sum()

0

In [32]:
data_y.unique()

array(['DrDoS_DNS', 'BENIGN', 'DrDoS_LDAP', 'DrDoS_MSSQL',
       'DrDoS_NetBIOS', 'DrDoS_NTP', 'DrDoS_SNMP', 'DrDoS_SSDP',
       'DrDoS_UDP', 'Syn', 'UDP-lag'], dtype=object)

In [33]:
data_X

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound
0,425,172.16.0.5-192.168.50.1-634-60495-17,172.16.0.5,634,192.168.50.1,60495,17,2018-12-01 10:51:39.813448,28415,97,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,430,172.16.0.5-192.168.50.1-60495-634-17,192.168.50.1,634,172.16.0.5,60495,17,2018-12-01 10:51:39.820842,2,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1654,172.16.0.5-192.168.50.1-634-46391-17,172.16.0.5,634,192.168.50.1,46391,17,2018-12-01 10:51:39.852499,48549,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2927,172.16.0.5-192.168.50.1-634-11894-17,172.16.0.5,634,192.168.50.1,11894,17,2018-12-01 10:51:39.890213,48337,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,694,172.16.0.5-192.168.50.1-634-27878-17,172.16.0.5,634,192.168.50.1,27878,17,2018-12-01 10:51:39.941151,32026,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,310726,172.16.0.5-192.168.50.1-52292-39139-17,172.16.0.5,52292,192.168.50.1,39139,17,2018-12-01 13:04:46.493768,1,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49996,112527,172.16.0.5-192.168.50.1-35780-28095-17,172.16.0.5,35780,192.168.50.1,28095,17,2018-12-01 13:04:46.493959,1,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49997,50719,172.16.0.5-192.168.50.1-43479-64437-17,172.16.0.5,43479,192.168.50.1,64437,17,2018-12-01 13:04:46.494010,106451,4,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49998,351644,172.16.0.5-192.168.50.1-56855-19645-17,172.16.0.5,56855,192.168.50.1,19645,17,2018-12-01 13:04:46.494012,215812,6,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49999,154979,172.16.0.5-192.168.50.1-33366-50958-17,172.16.0.5,33366,192.168.50.1,50958,17,2018-12-01 13:04:46.494062,214056,6,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()

In [36]:
data_y_trans = le.fit_transform(data_y)

In [38]:
le_timestamp = LabelEncoder()
le_timestamp.fit(data_X[' Timestamp'])
data_X[' Timestamp'] = le_timestamp.fit_transform(data_X[' Timestamp'])

In [39]:
data_X

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound
0,425,172.16.0.5-192.168.50.1-634-60495-17,172.16.0.5,634,192.168.50.1,60495,17,4985,28415,97,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,430,172.16.0.5-192.168.50.1-60495-634-17,192.168.50.1,634,172.16.0.5,60495,17,4986,2,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1654,172.16.0.5-192.168.50.1-634-46391-17,172.16.0.5,634,192.168.50.1,46391,17,4987,48549,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2927,172.16.0.5-192.168.50.1-634-11894-17,172.16.0.5,634,192.168.50.1,11894,17,4988,48337,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,694,172.16.0.5-192.168.50.1-634-27878-17,172.16.0.5,634,192.168.50.1,27878,17,4989,32026,200,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,310726,172.16.0.5-192.168.50.1-52292-39139-17,172.16.0.5,52292,192.168.50.1,39139,17,44580,1,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49996,112527,172.16.0.5-192.168.50.1-35780-28095-17,172.16.0.5,35780,192.168.50.1,28095,17,44581,1,2,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49997,50719,172.16.0.5-192.168.50.1-43479-64437-17,172.16.0.5,43479,192.168.50.1,64437,17,44582,106451,4,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49998,351644,172.16.0.5-192.168.50.1-56855-19645-17,172.16.0.5,56855,192.168.50.1,19645,17,44583,215812,6,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49999,154979,172.16.0.5-192.168.50.1-33366-50958-17,172.16.0.5,33366,192.168.50.1,50958,17,44584,214056,6,...,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [40]:
df2 = pd.DataFrame(data_X)

In [45]:
df2.to_csv(r'my_data.csv', index=False)